.text-center
    img(src='images/profile.png', width="25%")
.text-center
    .page-header
        h2 About Me
.container-fluid
    p.
        Hi there, thanks for taking the time to learn more about me. I am a Software Engineer with a focus on Mobile Development.
        For work, I am an Android Developer at Shopify for the App and Partner Platform team. Our team's goal is to enable a seamless experience for both Merchants (app users) and Shopify Partners (app creators). As for my education, I finished my Bachelors of Software Engineering at the University of Victoria. Finally, my passions include learning, fitness, and using technology, but I also love hiking and space exploration.
