.center-inner
    img(src='images/profile.png')
.text-center
    .page-header
        h2 About Me
.container-fluid
    p.
        I am a Software Engineering student and on most afternoons, you'd likely find me in a computer
        lab working on assignments, learning more about technologies, or working on personal projects.
    p.
        My passion is learning and using technology, but I also love hiking and space exploration. 
    p.  
        My interests are game, mobile, and web application development.
