.center-inner
    img(src='images/profile.png')
.text-center
    .page-header
        h2 About Me
.container-fluid
    p.
        I am a Software Engineering student and on most afternoons, you'd likely find me in a computer
        lab working on assignments, learning more about technologies, or working on personal projects.
    p.
        I believe that continuous learning is vital. Learning is one of my passions and is something that affects
        nearly everything in my life. I love game development, mobile platform development, and web application development.
.container-fluid
    .center-inner
        .row
            .col-sm-6
                a.btn-social.btn-outline(href='https://github.com/james-woo')
                    i.fa.fa-github.fa-3x
            .col-sm-6
                a.btn-social.btn-outline(href='https://ca.linkedin.com/pub/james-woo/b8/633/290')
                    i.fa.fa-linkedin.fa-3x