.text-center
    img(src='images/profile.png', width="25%")
.text-center
    .page-header
        h2 About Me
.container-fluid
    p.
        I am a Software Engineering student and on most afternoons, you'd likely find me in a computer
        lab working on assignments, learning more about technologies, or working on personal projects.
        I have a strong passion for learning, fitness, and using technology, but I also love hiking and space exploration.
        I have strong interests in computer games, computer networking, and Android development.
