.text-center
    .page-header
        h2 Contact
    .container-fluid
        .center-inner
            .row
                .col-md-4
                    a.btn-social.btn-outline(href='mailto:jameswoo@uvic.ca')
                        i.fa.fa-envelope-o.fa-3x
                .col-md-4
                    a.btn-social.btn-outline(href='https://github.com/james-woo')
                        i.fa.fa-github.fa-3x
                .col-md-4
                    a.btn-social.btn-outline(href='https://ca.linkedin.com/pub/james-woo/b8/633/290')
                        i.fa.fa-linkedin.fa-3x
    br
    br
    hr