.text-center
    .page-header
        h2 Employment

.container-fluid
    section.center-inner
        .row.current-employment-background
            .col-md-12
                .col-md-2
                    .row.vertical-center
                        img.center-block.img-responsive(src='images/portfolio/shopify.png', width="75%") 
                .col-md-10
                    h4 Shopify/ Android Developer
                    p March 2018 - Current
                    ul#list-items
                        li Currently working with the App and Partner Platform team
        hr
        br                
        .row
            .col-md-12
                .col-md-2
                    .row.vertical-center
                        img.center-block.img-responsive(src='images/portfolio/shopify.png', width="75%") 
                .col-md-10
                    h4 Shopify/ Android Developer Intern
                    p September 2017 - December 2017
                    ul#list-items
                        li Implemented Android native support for Ruby on Rails web admin pages on Mobile Shopify, this work made certain pages use screen space more efficiently and made the page feel like a native experience
                        li Worked on integrating app extensions and embedded apps from Mobile Shopify to Shopify POS, which allows merchants to perform additional actions such as order printing
                        li Participated and presented Mobile Buy AR, a project that extended the Android Mobile Buy SDK sample application with Google ARCore, an augmented reality library
        br
        .row
            .col-md-12
                .col-md-2
                    .row.vertical-center
                        img.center-block.img-responsive(src='images/portfolio/safe_software.png', width="100%") 
                .col-md-10
                    h4 Safe Software Inc./ Software Developer Intern
                    p May 2016 - August 2016
                    ul#list-items
                        li Added features on the invalid geometry transformer for FME Workbench, this work allowed users to determine where and why certain geometry shapes were invalid (C++/Java)
                        li Implemented user interface changes, fixed bugs for FME workbench (C++/Java)
                        li Refactored geometry core logic to use C++ design patterns and newer C++11 standards
        br
        .row
            .col-md-12
                .col-md-2
                    .row.vertical-center
                        img.center-block.img-responsive(src='images/portfolio/smart_tech.png', width="100%")               
                .col-md-10
                    h4 SMART Technologies Inc./ Software Test Developer Intern
                    p September 2015 - December 2015
                    ul#list-items
                        li Developed test automation scripts for SMART Notebook (Robot Framework/Selenium)
                        li Designed and developed test tools to increase quality of test infrastructure (C#/Python)
                        li Participated in Intern competition to produce three web applications and won an Oculus Rift (Javascript/HTML/CSS)
        br
        .row
            .col-md-12
                .col-md-2
                    .row.vertical-center
                        img.center-block.img-responsive(src='images/portfolio/jameslogo.png', width="100%")
                .col-md-10
                    h4 Math & Sciences Tutor
                    p December 2011 - June 2014
                    ul#list-items
                        li Taught grades 10-12 math and science courses
                        li Showed students how to excel with studies, taught techniques on solving problems
                        li Mentored students to prepare them for university
        hr
        h3.text-center Education
        .row
            .col-md-12
                .col-md-2
                    .row.vertical-center
                        img.center-block.img-responsive(src='images/portfolio/uvic.png', width="100%")
                .col-md-10
                    h4 University of Victoria/ Bachelor of Software Engineering
                    p September 2014 - December 2017
                    h4 Awards
                    p President’s Scholarship
                    p B.C. Centennial Scholarship
                    p 2016 IEEE Work Term Report Excellence Award
    hr
 