extends layout

block content
  #home
  navbar.navbar-default.navbar-fixed-top.top-nav-collapse(role='navigation')
    .container-fluid
      .center-inner
        .navbar-header
          .row
            h2.centered-text James Woo
          .row
            .nav-wrapper.a-anchor
              ul.nav.navbar-nav
                li
                  a#home-link(href='#') Home
                li
                  a#projects-link(href='#') Projects
                li
                  a#employment-link(href='#') Employment
                li
                  a#contact-link(href='#') Contact

  #aboutme.container-fluid
    include aboutme
    br
  #projects.container-fluid
    include projects
    br
  #employment.container-fluid
    include employment
    br
  #contact.container-fluid
    include contact

  footer.container.text-center
    .row
      .col-lg-12
        p Copyright &copy; James Woo <script>document.write(new Date().getFullYear())</script>


