extends layout

block content
  #home
  navbar.navbar-default.navbar-fixed-top(role='navigation')
    .container-fluid
      .center-inner
        .navbar-header
          .row
            h1.centered-text James Woo
          .row
            h3.centered-text Tinkerer - Hard Worker - Avid Learner
          .row
            .nav-wrapper.a-anchor
              ul.nav.navbar-nav
                li
                  a#home-link(href='#') Home
                li
                  a#aboutme-link(href='#') About Me
                li
                  a#resume-link(href='#') Resume
                li
                  a#projects-link(href='#') Projects

  #aboutme.container-fluid
    include aboutme
    br
  #resume.container-fluid
    include resume
    br
  #projects.container-fluid
    include projects
    br

  footer.container.text-center
    .row
      .col-lg-12
        p Copyright &copy; James Woo <script>document.write(new Date().getFullYear())</script>


