.text-center
    .page-header
        h2 Projects
.container-fluid
    .row
        .col-md-4
            .col-md-12
                .row
                    .col-md-4
                        img(src='/images/portfolio/beatsbear.png', width='75%')
                    .col-md-8
                        .row
                            h3 BeatsBear
                        .row
                            a.btn-social.btn-outline(href='https://github.com/musicretrieval/BeatsBear')
                                i.fa.fa-github.fa-2x
                .row
                    p.
                        A real time tempo adjustment android application for runners. 
            br
        .col-md-4
            .col-md-12
                .row
                    .col-md-4
                        img(src='/images/portfolio/blockemon.png', width='75%')
                    .col-md-8
                        .row
                            h3 Blockemon
                        .row
                            a.btn-social.btn-outline(href='https://github.com/james-woo/blockemon')
                                i.fa.fa-github.fa-2x
                .row
                    p.
                        A cardgame generator platform built on blockchain.  
                    i.fa.fa-square-o.fa-1x
                    i.fa.fa-link.fa-1x
                    i.fa.fa-square-o.fa-1x
                    i.fa.fa-link.fa-1x
                    i.fa.fa-square-o.fa-1x
            br
        .col-md-4
            .col-md-12
                .row
                    .col-md-4
                        img(src='/images/portfolio/brickbreakout.gif', width='100%')
                    .col-md-8
                        .row
                            span
                                h3 BrickBreakout
                        .row
                            a.btn-social.btn-outline(href='https://github.com/james-woo/BrickBreakout')
                                i.fa.fa-github.fa-2x
                .row
                    p.
                        A brick breaker game using C++, SDL2 graphics library, and custom physics.
            br 
    hr
    br   
    .row               
        .col-md-4
            .col-md-12
                .row
                    .col-md-4
                        img(src='/images/portfolio/pongpong.gif', width='100%')
                    .col-md-8
                        .row
                            h3 PongPong
                        .row
                            a.btn-social.btn-outline(href='https://github.com/james-woo/PongPong')
                                i.fa.fa-github.fa-2x
                .row
                    p.
                        A very simple Pong game using C++,  SDL2 graphics library, and pro MLG AI.
            br
        .col-md-4
            .col-md-12
                .row
                    .col-md-4
                        img(src='/images/portfolio/daytomato.png', width='100%')
                    .col-md-8
                        .row
                            h3 DayTomato
                        .row
                            a.btn-social.btn-outline(href='https://fridayideas.github.io')
                                i.fa.fa-external-link.fa-2x
                            &nbsp;&nbsp;
                            a.btn-social.btn-outline(href='https://github.com/fridayideas/daytomato')
                                i.fa.fa-github.fa-2x
                .row
                    p.
                        A crowd sourced trip review android application.
                    a(href='https://play.google.com/store/apps/details?id=com.fridayideas.daytomato&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1') 
                        img(alt='Get it on Google Play', src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png', width='50%')
            br
        .col-md-4
            .col-md-12
                .row
                    .col-md-4
                        img(src='/images/portfolio/athelite.png', width='100%')
                    .col-md-8
                        .row
                            h3 Athelite
                        .row
                            a.btn-social.btn-outline(href='http://james-woo.github.io/athelite/')
                                i.fa.fa-github.fa-2x
                .row
                    p.
                        A simple workout tracking android application.
                    a(href='https://play.google.com/store/apps/details?id=com.athelite&hl=en&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1') 
                        img(alt='Get it on Google Play', src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png', width='50%')
            br
    hr
    br
    .row
        .col-md-4
            .col-md-12
                .row
                    .col-md-4
                        img(src='/images/portfolio/randomactivityfinder.png', width='100%')
                    .col-md-8
                        .row
                            h3 Random Activity Finder
                        .row
                            a.btn-social.btn-outline(href='http://github.com/james-woo/randomactivityfinder')
                                i.fa.fa-github.fa-2x
                .row
                    p.
                        A random activity finder android application.
            br
        .col-md-4
            .col-md-12
                .row
                    .col-md-4
                        img(src='/images/portfolio/mftm.png', width='100%')
                    .col-md-8
                        .row
                            h3 Meals For The Moment
                        .row
                            a.btn-social.btn-outline(href='http://mftm.herokuapp.com')
                                i.fa.fa-external-link.fa-2x
                            &nbsp;&nbsp;
                            a.btn-social.btn-outline(href='http://github.com/james-woo/mftm')
                                i.fa.fa-github.fa-2x
                .row
                    p.
                        A meal recommender system based on location and season.
            br
        .col-md-4
            .col-md-12
                .row
                    .col-md-4
                        img(src='/images/portfolio/reported.png', width='100%')
                    .col-md-8
                        .row
                            h3 Reported
                        .row
                            a.btn-social.btn-outline(href='http://reported.herokuapp.com')
                                i.fa.fa-external-link.fa-2x
                            &nbsp;&nbsp;
                            a.btn-social.btn-outline(href='http://github.com/james-woo/reported')
                                i.fa.fa-github.fa-2x
                .row
                    p.
                        A community driven break-in and theft tracker.
            br