.text-center
    .page-header
        h2 Resume

.container-fluid
    section.center-inner
        h3.text-center Employment
        .row
            .col-md-12
                .col-md-2
                    .row.vertical-center
                        img.center-block.img-responsive(src='images/portfolio/safe_software.png', width="100%") 
                .col-md-10
                    h4 Safe Software Inc./ Software Developer Intern
                    p May 2016 - August 2016
                    ul#list-items
                        li Added features on transformers for FME Workbench (C++/Java)
                        li Implemented user interface changes, fixed bugs for FME workbench (C++/Java)
                        li Refactored geometry core logic to use C++ design patterns and newer C++11 standards
        br
        .row
            .col-md-12
                .col-md-2
                    .row.vertical-center
                        img.center-block.img-responsive(src='images/portfolio/smart_tech.png', width="100%")               
                .col-md-10
                    h4 SMART Technologies Inc./ Software Test Developer Intern
                    p September 2015 - December 2015
                    ul#list-items
                        li Developed test automation scripts for SMART Notebook (Robot Framework/Selenium)
                        li Designed and developed test tools to increase quality of test infrastructure (C#/Python)
                        li Participated in Intern competition to produce three web applications and won an Oculus Rift (Javascript/HTML/CSS)
        br
        .row
            .col-md-12
                .col-md-2
                    .row.vertical-center
                        img.center-block.img-responsive(src='images/portfolio/jameslogo.png', width="100%")
                .col-md-10
                    h4 Math & Sciences Tutor
                    p December 2011 - June 2014
                    ul#list-items
                        li Taught grades 10-12 math/science courses
                        li Showed students how to excel with studies, taught techniques on solving problems
                        li Mentored students to prepare them for university and to achieve their life goals
        hr
        h3.text-center Education
        .row
            .col-md-12
                .col-md-2
                    .row.vertical-center
                        img.center-block.img-responsive(src='images/portfolio/uvic.png', width="100%")
                .col-md-10
                    h4 University of Victoria
                    p September 2014 - Current
                    p Year 4, Anticipated Graduation: December 2017
                    h4 Awards
                    p President’s Scholarship
                    p B.C. Centennial Scholarship
                    p 2016 IEEE Work Term Report Excellence Award
    hr

    section.text-center.center-inner
        h3 Hackathons
        .row
            .col-md-3
                h4 NWHacks
                p March 2017
                p Learned a lot about the blockchain  
                a.btn-social.btn-outline(href='http://github.com/james-woo/blockemon')
                    i.fa.fa-square-o.fa-1x
                    i.fa.fa-link.fa-1x
                    i.fa.fa-square-o.fa-1x
                    i.fa.fa-link.fa-1x
                    i.fa.fa-square-o.fa-1x
                br
                a(href='https://www.nwhacks.io/') NWHacks Website
            .col-md-3
                h4 HackVictoria
                p March 2016
                p Competed and won best presentation!
                a.btn-social.btn-outline(href='http://github.com/james-woo/reported')
                    i.fa.fa-github.fa-2x
                br
                a(href='http://hackvictoria.com') HackVictoria Website
            .col-md-3
                h4 BattleSnake
                p February 2016 and March 2017
                p Competed, but didn't win. Had fun though!
                a.btn-social.btn-outline(href='http://github.com/james-woo/battlesnake-go')
                    i.fa.fa-github.fa-2x
                br
                a(href='http://battlesnake.io') BattleSnake Website
            .col-md-3
                h4 Microsoft Coding Competition
                p October 2016 - So wow!
                a.btn-social.btn-outline(href='http://github.com/james-woo/microsoft-competition-oct2016')
                    i.fa.fa-github.fa-2x
                p February 2015 - Much improvement
                a.btn-social.btn-outline(href='http://github.com/james-woo/microsoft-competition-feb2015')
                    i.fa.fa-github.fa-2x
                p September 2014 - Getting my feet wet
                a.btn-social.btn-outline(href='http://github.com/james-woo/microsoft-competition-sept2014')
                    i.fa.fa-github.fa-2x
    hr

    section.text-center.center-inner
        h3 Software Skills
        table#table-items.table
            thead
                tr
                    th Category
                    th Experienced
            tbody
                tr
                    td Programming Languages
                    td Java, C/C++/C#, Python, Javascript
                tr
                    td Game Development
                    td Godot, Unity, SFML, SDL
                tr
                    td Mobile Development
                    td Android, Xamarin
                tr
                    td Web Development
                    td HTML, CSS, MongoDB, Express, Angularjs, Node.js, React, Cassandra, jQuery, Socket.io, Spring
                tr
                    td Build Tools
                    td Gradle, Gerrit, Jenkins, Maven, TravisCI, CircleCI
                tr
                    td Software Design
                    td Design patterns, data structures, architectures, OO programming, AO programming, behaviour driven development, test driven devlopment, requirements gathering and elicitation
                tr
                    td Software Testing
                    td Exploratory testing, hallway testing, test automation, regression testing, unit testing with Junit, BDD testing with Cucumber and Selenium