.text-center
    .page-header
        h2 Resume

.container-fluid
    section.text-center.center-inner
        h4 Employment
        .row
            .col-sm-6
                img(src='images/portfolio/safe_software.png', width="50%")
            .col-sm-6
                h4 Safe Software Inc./ Software Developer Intern
                p May 2016 - August 2016
                br
        .row
            .col-sm-6
                img(src='images/portfolio/smart_tech.png', width="50%")
            .col-sm-6
                h4 SMART Technologies Inc./ Software Test Developer Intern
                p September 2015 - December 2015
                ul#list-items
                    li Developed test automation scripts using Robot Framework for SMART Notebook Software
                    li Designed and developed several test tools to increase quality of test infrastructure
                    li Participated in Intern Project competition to produce three web applications and won an Oculus Rift
        hr
        h4 Education
        .row
            .col-sm-6
                img(src='images/portfolio/uvic.png', width="50%")
            .col-sm-6
                h4 University of Victoria
                p September 2014 - Current
                p Year 3, Anticipated Graduation: December 2017
    hr

    section.text-center.center-inner
        h4 Hackathons
        .row
            .col-sm-6
                img(src='images/portfolio/hackvictoria.jpg', width="50%")
            .col-sm-6
                h4 HackVictoria
                p March 2016
                p Competed and won best presentation!
                a(href='http://hackvictoria.com') HackVictoria Website
        br
        .row
            .col-sm-6
                img(src='images/portfolio/battlesnake.jpg', width="50%")
            .col-sm-6
                h4 BattleSnake
                p February 2016
                p Competed, but didn't win. Had fun though!
                a(href='http://battlesnake.io') BattleSnake Website
        br
        .row
            .col-sm-6
                img(src='images/portfolio/microsoft.png', width="50%")
            .col-sm-6
                h4 Microsoft Coding Competition
                p February 2015
                a(href='http://github.com/james-woo/microsoft-competition-feb2015') Github repository
                p September 2014
                a(href='http://github.com/james-woo/microsoft-competition-sept2014') Github repository