.text-center
    .page-header
        h2 Resume

.container-fluid
    section.text-center.center-inner
        h4 Employment
        .row
            .col-sm-6
                img(src='images/portfolio/safe_software.png', width="50%")
            .col-sm-6
                h4 Safe Software Inc./ Software Developer Intern
                p May 2016 - August 2016
                br
        .row
            .col-sm-6
                img(src='images/portfolio/smart_tech.png', width="50%")
            .col-sm-6
                h4 SMART Technologies Inc./ Software Test Developer Intern
                p September 2015 - December 2015
                ul#list-items
                    li Developed test automation scripts using Robot Framework for SMART Notebook Software
                    li Designed and developed several test tools to increase quality of test infrastructure
                    li Participated in Intern Project competition to produce three web applications and won an Oculus Rift
        hr
        h4 Education
        .row
            .col-sm-6
                img(src='images/portfolio/uvic.png', width="50%")
            .col-sm-6
                h4 University of Victoria
                p September 2014 - Current
                p Year 3, Anticipated Graduation: December 2017
    hr

    section.text-center.center-inner
        h4 Hackathons
        .row
            .col-sm-12
                h4 HackVictoria
                p March 2016
                p Competed and won best presentation!
                a(href='http://hackvictoria.com') HackVictoria Website
        br
        .row
            .col-sm-12
                h4 BattleSnake
                p February 2016
                p Competed, but didn't win. Had fun though!
                a(href='http://battlesnake.io') BattleSnake Website
        br
        .row
            .col-sm-12
                h4 Microsoft Coding Competition
                p February 2015
                a(href='http://github.com/james-woo/microsoft-competition-feb2015') Github repository
                p September 2014
                a(href='http://github.com/james-woo/microsoft-competition-sept2014') Github repository
    hr

    section.text-center.center-inner
        h4 Software Skills
        table#table-items.table
            thead
                tr
                    th Category
                    th Experienced
            tbody
                tr
                    td Programming Languages
                    td Java, C/C++/C#, Python, Javascript, Robot Framework
                tr
                    td Game Development
                    td Unity
                tr
                    td Mobile Development
                    td Android, Xamarin
                tr
                    td Web Development
                    td HTML, CSS, MongoDB, Express, Angularjs, Node.js, React, Cassandra, jQuery, Socket.io
                tr
                    td Build Tools
                    td Gradle, Gerrit, Jenkins, Maven
                tr
                    td Software Design
                    td Design patterns, data structures, architectures, OO programming, AO programming, behaviour driven development, test driven devlopment, requirements gathering and elicitation
                tr
                    td Software Testing
                    td Exploratory testing, hallway testing, test automation, regression testing, unit testing with Junit, BDD testing with Cucumber and Selenium