.text-center
    .page-header
        h2 Employment
.container-fluid
    section.skills
        .row
            .grid-2
                h4 Technical Skills
                ul
                    li Languages: Java, C/C++/C#, Python, Javascript, Robot Framework, SQL/CQL
                    li Mobile Development: Android, Xamarin
                    li Web Development: MongoDB, Express, Angularjs, Node.js, React, Cassandra, jQuery
                    li Software Design: Design patterns, data structures, architectures, OO programming
                    li Software Testing: Exploratory testing, hallway testing, test automation, regression testing
    hr
.container-fluid
    section.experience
        .row
            .grid-2
                h4 Safe Software Inc./ Software Developer Intern
                p May 2016 - August 2016
            .grid-4
                br
            .grid-2
                h4 SMART Technologies Inc./ Software Test Developer Intern
                p September 2015 - December 2015
            .grid-4
                ul
                    li Developed test automation scripts using Robot Framework for SMART Notebook Software
                    li Designed and developed several test tools to increase quality of test infrastructure
                    li Participated in Intern Project competition to produce three web applications and won an Oculus Rift
    hr

    section
        .row
            .grid-2
                h4 University of Victoria
                p September 2014 - Current
                p Year 3, Anticipated Graduation: December 2017

