.text-center
    .page-header
        h2 Resume

.container-fluid
    section.center-inner
        h4.text-center Employment
        .row
            .col-sm-6.text-center
                img(src='images/portfolio/safe_software.png', width="50%")
            .col-sm-6
                h4 Safe Software Inc./ Software Developer Intern
                p May 2016 - August 2016
                ul#list-items
                    li Implemented user interface and application logic changes for FME Workbench (C++/Java)
                    li Refactored geometry core logic to use C++ design patterns and newer C++11 standards
                    li Participated in company wide advanced C++ training
                br
        .row
            .col-sm-6.text-center
                img(src='images/portfolio/smart_tech.png', width="50%")
            .col-sm-6
                h4 SMART Technologies Inc./ Software Test Developer Intern
                p September 2015 - December 2015
                ul#list-items
                    li Developed test automation scripts for SMART Notebook (Robot Framework/Selenium)
                    li Designed and developed test tools to increase quality of test infrastructure (C#/Python)
                    li Participated in Intern competition to produce three web applications and won an Oculus Rift (Javascript/HTML/CSS)
                br
        .row
            .col-sm-6.text-center
                img(src='images/portfolio/jameslogo.png', width="50%")
            .col-sm-6
                h4 Math & Sciences Tutor
                p December 2011 - June 2014
                ul#list-items
                    li Taught grades 10-12 math/science courses
                    li Showed students how to excel with studies, taught techniques on solving problems
                    li Mentored students to prepare them for university and to achieve their life goals
        hr
        h4.text-center Education
        .row
            .col-sm-6.text-center
                img(src='images/portfolio/uvic.png', width="50%")
            .col-sm-6
                h4 University of Victoria
                p September 2014 - Current
                p Year 3, Anticipated Graduation: December 2017
                h4 Awards
                p President’s Scholarship
                p B.C. Centennial Scholarship
    hr

    section.text-center.center-inner
        h4 Hackathons
        .row
            .col-sm-12
                h4 HackVictoria
                p March 2016
                p Competed and won best presentation!
                a(href='http://hackvictoria.com') HackVictoria Website
        br
        .row
            .col-sm-12
                h4 BattleSnake
                p February 2016
                p Competed, but didn't win. Had fun though!
                a(href='http://battlesnake.io') BattleSnake Website
        br
        .row
            .col-sm-12
                h4 Microsoft Coding Competition
                p October 2016 - So wow!
                a.btn-social.btn-outline(href='http://github.com/james-woo/microsoft-competition-oct2016')
                    i.fa.fa-github.fa-2x
                p February 2015 - Much improvement
                a.btn-social.btn-outline(href='http://github.com/james-woo/microsoft-competition-feb2015')
                    i.fa.fa-github.fa-2x
                p September 2014 - Getting my feet wet
                a.btn-social.btn-outline(href='http://github.com/james-woo/microsoft-competition-sept2014')
                    i.fa.fa-github.fa-2x
    hr

    section.text-center.center-inner
        h4 Software Skills
        table#table-items.table
            thead
                tr
                    th Category
                    th Experienced
            tbody
                tr
                    td Programming Languages
                    td Java, C++/C#, Python, Javascript
                tr
                    td Game Development
                    td Unity, SFML, SDL
                tr
                    td Mobile Development
                    td Android, Xamarin
                tr
                    td Web Development
                    td HTML, CSS, MongoDB, Express, Angularjs, Node.js, React, Cassandra, jQuery, Socket.io, Spring
                tr
                    td Build Tools
                    td Gradle, Gerrit, Jenkins, Maven, TravisCI, CircleCI
                tr
                    td Software Design
                    td Design patterns, data structures, architectures, OO programming, AO programming, behaviour driven development, test driven devlopment, requirements gathering and elicitation
                tr
                    td Software Testing
                    td Exploratory testing, hallway testing, test automation, regression testing, unit testing with Junit, BDD testing with Cucumber and Selenium